<div>
  <h1>Ouija excited!</h1>
</div>

<div>
  <span *ngFor="let letter of letters" class="{{'letter-'+letter}}">
    {{letter}}
  </span>
  <div class="cursor" [style.left]="x | async" [style.top]="y | async">
    
  </div>
</div>

<!-- <div>
  <button md-raised-button color="primary">Ouija Start Now.</button>
  <button md-raised-button color="primary">Get The Answer.</button>
</div>
<div>
  <md-tab-group>
    <md-tab label="Fox">
      Know? 
    </md-tab>
    <md-tab label="Say?">
      To
    </md-tab>
    <md-tab label="Did">
      Ouija
    </md-tab>
    <md-tab label="What">
      Like
    </md-tab>
    <md-tab label="The">
      You
    </md-tab>
  </md-tab-group>
</div> -->
